# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
venv311/
.venv/

# Infrastructure that shouldn't be tracked
infr/posgres/
infr/redis/
infr/trafic/

# VSCode
.vscode/

# Logs & env
*.log
.env
