
# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
venv311/
.venv/



# VSCode
.vscode/

# Logs & env
*.log
.env
venv311/
venv/
.env
__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
venv311/
.venv/

.vscode/
.idea/

*.log
.env
